:root {
  --remotion-font: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  --base-size: 48px;

  height: 100%;
}

body {
  font-family: "Roboto";
  background:linear-gradient(to right bottom,
  #000000, #2a2122, #513d3c, #795d54, #a17f6c, #b99273, #cfa67a, #e3bb80, #ecc377, #f4cb6d, #f9d462, #fdde56)
}

.audio-viz {
  display: flex;
  flex-direction: row;
  height: calc(var(--base-size) * 4);
  align-items: center;
  justify-content: center;
  gap: calc(var(--base-size) * 0.25);
  margin-top: var(--base-size);
}

.bar {
  background-color: rgba(252, 211, 77, 1);
  border-radius: calc(var(--base-size) * 0.25);
  width: calc(var(--base-size) * 0.25);
}


